{
  "env": {
    "es6": true,
      "browser": true,
      "node": true,
      "meteor": true
  },

    "plugins": [
      "react",
    "meteor"
      ],
    "extends": [
      "airbnb",
    "eslint:recommended",
    "plugin:meteor/recommended"
      ],

    "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
        "experimentalObjectRestSpread": true,
        "globalReturn": true,
        "jsx": true
      },
    },

    "rules": {
      "meteor/audit-argument-checks": 0,
      "meteor/eventmap-params": [
        2, { "templateInstanceParamName": "instance" }
      ],
        "import/no-unresolved": [
          2, { "ignore": [
            "^meteor/",
            "lib"
              ]}
      ],
        "complexity": [2, 4],
        "react/jsx-uses-react": 1,
        "react/jsx-uses-vars": 1
    }
}
